@font-face{font-family:'WB';src:url('../fonts/wb.eot');src:url('../fonts/wb.eot?#iefix') format('embedded-opentype'),url('../fonts/wb.woff2') format('woff2'),url('../fonts/wb.woff') format('woff'),url('../fonts/wb.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'WBS';src: url('../fonts/wbs.eot');src:url('../fonts/wbs.eot?#iefix') format('embedded-opentype'),url('../fonts/wbs.woff2') format('woff2'),url('../fonts/wbs.woff') format('woff'),url('../fonts/wbs.ttf') format('truetype');font-weight:normal;font-style:normal;}

body,html{padding:0;margin:0;border:0;height:99.9%;}
body{}
.clear{clear:both;height:1px;}
a,a:hover{}
a{text-decoration:none;}
img{border:0;}
input,textarea,button,video,audio{outline:none;}
body,a{color:#333;font-family:"WB","WBS";font-size:13px;}

.wrapper{position:relative;z-index:2;min-width:240px;width:100%;min-height:400px;margin:0 auto;overflow:_hidden;}
.home .wrapper{_background:#2064c5 url('../img/bg.jpg') center 0 no-repeat;_background-size:auto 100%;height:100%;}
.inner .wrapper{position:absolute;display:block;top:0;left:0;min-height:100%;overflow:visible;overflow-x:hidden;padding-top:70px;padding-bottom:80px}
.inbox .wrapper{background-color:#f1f4f8;}

._slider-wrapper{width:100%;height:100%;}
._slider-wrapper ul{padding:0;margin:0;}
._slider-wrapper ul li{list-type:none;}
._slider-wrapper ul li img{}

.slider-wrapper{position:absolute;z-index:1;width:100%;height:100%;overflow:hidden;}
.slider:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} 
.slider{width:100%;position:relative;margin:0;padding:0;}
.slider .slider-item{position:relative;margin:0px;padding:0px;float:left;width:100%;margin-right:-100%;list-style-type:none;text-align:center;overflow:hidden;}


.home header{}
.home header nav.head-nav{width:100%;padding-top:5px;}
.home header nav.head-nav ul{display:table;width:100%;padding:0px;margin:0px;}
.home header nav.head-nav ul li{width:33%;display:table-cell;height:25px;line-height:25px;}
.home header nav.head-nav ul li a{opacity:0.7;font-family:WBS;font-size:14px;color:#fff;padding-left:23px;height:21px;line-height:20px;}
.home header nav.head-nav ul li.help{text-align:left;padding-left:10px;}
.home header nav.head-nav ul li.help a{background:url('../img/help-home-icon.png') 0 0 no-repeat;}
.home header nav.head-nav ul li.privacy{text-align:center;}
.home header nav.head-nav ul li.privacy a{background:url('../img/privacy-home-icon.png') 0 0 no-repeat;}
.home header nav.head-nav ul li.terms{text-align:right;padding-right:10px;}
.home header nav.head-nav ul li.terms a{background:url('../img/terms-home-icon.png') 0 0 no-repeat;}

.home .event{margin:20px auto 0;max-width:300px;min-width:230px;padding:20px 10px;background-color:rgba(255,255,255,0.8);border-radius:6px;text-align:center;}
.home .event .message{color:#588ec0;}
.home .event .error span{color:#c70909;font-weight:bold;}
.home .event .success span{color:#1a741f;font-weight:bold;}

.inner header{position:fixed;z-index:99;top:0;left:0;width:100%;height:58px;background:-webkit-linear-gradient(#2663cd,#1c4f7e);background:-o-linear-gradient(#2663cd,#1c4f7e);background:-moz-linear-gradient(#2663cd,#1c4f7e);background:linear-gradient(#2663cd,#1c4f7e);}
.inner header nav.head-nav{width:100%;}
.inner header nav.head-nav ul{display:table;width:100%;padding:0px;margin:0px;}
.inner header nav.head-nav ul li{width:33%;height:58px;display:table-cell;vertical-align:middle;}
.inner header nav.head-nav ul li.menu{text-align:left;padding-left:10px;}
.inner header nav.head-nav ul li.logo{text-align:center;}
.inner header nav.head-nav ul li.logout{text-align:right;padding-right:10px;}

.inner .notification{padding:0 6px;margin:6px;background-color:#fff;border:1px solid #d5e5ff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.n-message{padding:10px 15px;text-align:center;}
.success i{display:inline-block;width:23px;height:23px;margin-right:7px;margin-bottom:5px;background:url('../img/success-icon.png') 0 0 no-repeat;vertical-align:middle;}
.error i{display:inline-block;width:23px;height:23px;margin-right:7px;margin-bottom:5px;background:url('../img/error-icon.png') 0 0 no-repeat;vertical-align:middle;}
.info span{display:inline-block;width:23px;line-height:20px;height:23px;margin-right:7px;margin-bottom:5px;background:url('../img/alert-icon.png') 0 0 no-repeat;vertical-align:middle;color:#fff;}

.home section{}
.home section .logo{width:245px;height:128px;margin:0 auto;background:url('../img/logo-home.png') 0 0 no-repeat;}
.home section .signform{width:210px;margin:15px auto 0;}
.home section .signform .title{text-align:center;color:#1c4f7e;font-size:16px;background:rgba(255,255,255,0.6);padding:3px 0px 5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.home section .signform .field{width:210px;margin-top:5px;}
.home section .signform .field input{width:190px;padding:0 10px;height:30px;line-height:26px;background:#fff;border:1px solid #588ec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:'WBS';font-size:16px;color:#1c4f7e;}
.home section .signform .field .username{cursor:pointer;padding:0;margin:0;display:block;width:210px;text-align:center;height:30px;line-height:26px;background:-webkit-linear-gradient(#2663cd,#1c4f7e);background:-o-linear-gradient(#2663cd,#1c4f7e);background:-moz-linear-gradient(#2663cd,#1c4f7e);background:linear-gradient(#2663cd,#1c4f7e);border:1px solid #13436e;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:'WBS';font-size:16px;color:#fff;}
.home section .signform .field input,.home section .signform .field button{box-sizing:content-box;}

.terms_window{position:absolute;display:none;top:10px;left:10px;width:260px;background:#fff;border:1px solid #1c4f7e;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:5px;color:#1c4f7e;}
.terms_window .terms_title{margin-top:5px;margin-left:5px;font-size:18px;}
.terms_window .terms_content{width:250px;height:350px;overflow-y:scroll;overflow-x:hidden;font-size:13px;padding:5px;}
.terms_window .terms_buttons{margin:7px 0px 0px;text-align:right;}
.terms_window .terms_buttons button{cursor:pointer;display:inline-block;width:76px;height:25px;line-height:22px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:0;padding:0;margin:0;font-size:14px;color:#fff;}
.terms_window .terms_buttons button.accept{background-color:#2562c8;}
.terms_window .terms_buttons button.decline{background-color:#8a8a8a;}

.menu-container{display:none;position:absolute;z-index:100;left:-360px;top:0;width:70%;min-height:100%;max-height:none;min-width:180px;max-width:350px;background-color:#e6e6e6;-webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.75);-moz-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.75);box-shadow:0px 0px 12px 0px rgba(0,0,0,0.75);}
.menu-container .head{position:relative;width:100%;height:157px;background:url('../img/menu-header.jpg') 0 0 no-repeat;}
.menu-container .head button.close{cursor:pointer;border:0;padding:0;margin:0;position:absolute;top:15px;left:15px;width:23px;height:23px;background:url('../img/close-icon.png') 0 0 no-repeat;opacity:0.6;}
.menu-container .head a.profile-image{display:block;position:absolute;right:18px;top:18px;width:105px;height:105px;border:1px solid #afafaf;-moz-border-radius:52px;-webkit-border-radius:52px;border-radius:52px;overflow:hidden;}
.menu-container .head .welcome-msg{position:absolute;left:13px;top:90px;font-size:18px;color:#fff;opacity:0.9;}
.menu-container nav.main-menu{margin-top:15px;}
.menu-container nav.main-menu ul{padding:0;margin:0;border:0;list-style:none;}
.menu-container nav.main-menu ul li{height:40px;line-height:40px;padding-left:18px;}
.menu-container nav.main-menu ul li a{padding-left:30px;font-size:16px;color:#3a3a3c;}
.menu-container nav.main-menu ul li a.newrequest{background:url('../img/newrequest-gray.png') 0 3px no-repeat;}
.menu-container nav.main-menu ul li a.myprayerbox{background:url('../img/myprayerbox-gray.png') 0 4px no-repeat;}
.menu-container nav.main-menu ul li a.blocked-list{background:url('../img/blocked-list-gray.png') 0 1px no-repeat;}
.menu-container nav.main-menu ul li a.myprofile{background:url('../img/myprofile-gray.png') 0 1px no-repeat;}
.menu-container nav.main-menu ul li a.favorites{background:url('../img/favorites-gray.png') 0 1px no-repeat;}
.menu-container nav.main-menu ul li a.search{background:url('../img/search-gray.png') 1px 2px no-repeat;}
.menu-container nav.main-menu ul li a.help{background:url('../img/help-gray.png') 1px 0 no-repeat;}
.menu-container nav.main-menu ul li a.privacy{background:url('../img/privacy-gray.png') 3px 0 no-repeat;}
.menu-container nav.main-menu ul li a.terms{background:url('../img/terms-gray.png') 3px 3px no-repeat;}
.menu-container nav.main-menu ul li a.settings{background:url('../img/settings-gray.png') 0 1px no-repeat;}
.menu-container nav.main-menu ul li a.logout{background:url('../img/logout-gray.png') 3px 2px no-repeat;}
.menu-container nav.main-menu ul li.selected{background:-webkit-linear-gradient(#2663cd,#1c4f7e);background:-o-linear-gradient(#2663cd,#1c4f7e);background:-moz-linear-gradient(#2663cd,#1c4f7e);background:linear-gradient(#2663cd,#1c4f7e);}
.menu-container nav.main-menu ul li.selected a{color:#fff;}
.menu-container nav.main-menu ul li.selected a.newrequest{background-image:url('../img/newrequest.png');}
.menu-container nav.main-menu ul li.selected a.myprayerbox{background-image:url('../img/myprayerbox.png');}
.menu-container nav.main-menu ul li.selected a.blocked-list{background-image:url('../img/blocked-list.png');}
.menu-container nav.main-menu ul li.selected a.myprofile{background-image:url('../img/myprofile.png');}
.menu-container nav.main-menu ul li.selected a.favorites{background-image:url('../img/favorites.png');}
.menu-container nav.main-menu ul li.selected a.search{background-image:url('../img/search.png');}
.menu-container nav.main-menu ul li.selected a.help{background-image:url('../img/help.png');}
.menu-container nav.main-menu ul li.selected a.privacy{background-image:url('../img/privacy.png');}
.menu-container nav.main-menu ul li.selected a.terms{background-image:url('../img/terms.png');}
.menu-container nav.main-menu ul li.selected a.settings{background-image:url('../img/settings.png');}
.menu-container nav.main-menu ul li.selected a.logout{background-image:url('../img/logout.png');}

section.main{width:100%;padding:0;margin:0;}
section.simple{width:95%;margin:0px auto;}
section.main .title{height:38px;line-height:32px;padding-left:15px;font-size:18px;color:#fff;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;background:-webkit-linear-gradient(#2663cd,#1c4f7e);background:-o-linear-gradient(#2663cd,#1c4f7e);background:-moz-linear-gradient(#2663cd,#1c4f7e);background:linear-gradient(#2663cd,#1c4f7e);}
section.main .content{font-size:13px;padding:12px}
section.main h3{margin:0;padding:0;font-weight:bold;font-size:14px;}
section.main img.left{margin-right:8px;}
.church-image{float:left;padding-right:10px;padding-bottom:5px;}
.church-image img{}
.church-image .rating{text-align:center;}

section.main .faq{position:relative;z-index:10;list-style:none;padding:0px;margin:0px;margin-top:5px;}
section.main .faq li{position:relative;border-bottom:1px dashed #3a3a3c;padding-top:5px;}
section.main .faq li div.question{display:block;cursor:pointer;color:#3a3a3c;font-size:13px;padding:10px;}
section.main .faq li div.answer{padding:12px 18px;font-size:13px;color:#3a3a3c;display:none;}
section.main .faq li.list-opened div.question{color:#fff;background:-webkit-linear-gradient(#2663cd,#1c4f7e);background:-o-linear-gradient(#2663cd,#1c4f7e);background:-moz-linear-gradient(#2663cd,#1c4f7e);background:linear-gradient(#2663cd,#1c4f7e);}

section.main .common-title{font-size:18px;color:#2159a6;padding-left:35px;height:30px;line-height:28px;}
section.main .newrequest{background:url('../img/newrequest-blue.png') 0 center no-repeat;}
section.main .settings{background:url('../img/settings-blue.png') 0 center no-repeat;}
section.main .myprofile{background:url('../img/myprofile-blue.png') 0 center no-repeat;}
section.main .favorites{background:url('../img/favorites-blue.png') 7px center no-repeat;}
section.blocked-list .common-title{background:url('../img/blocked-list-blue.png') 7px center no-repeat;}
section.main .request-form{}
section.main .request-form .calc,section.main .request-form .daily{margin-bottom:8px;}
section.main .request-form .field{}
section.main .request-form .field input{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;min-width:170px;padding-left:10px;padding-right:10px;height:30px;line-height:26px;background:#fff;border:1px solid #588ec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:'WBS';font-size:14px;color:#1c4f7e;}
section.main .request-form .field #id_email{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;min-width:170px;padding-left:10px;padding-right:10px;height:30px;line-height:26px;background:#fff;border:1px solid #588ec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:'WBS';font-size:14px;color:#1c4f7e;}
section.main .request-form .field textarea{width:100%;height:300px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.buttons{margin-top:10px;text-align:right;}
.buttons button,.delete button{cursor:pointer;display:inline-block;width:76px;height:25px;line-height:22px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:0;padding:0;margin:0;font-size:14px;color:#fff;}
.buttons input,.delete button{cursor:pointer;display:inline-block;width:76px;height:25px;line-height:22px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:0;padding:0;margin:0;font-size:14px;color:#fff;}
.buttons input.send-btn{background-color:#2562c8;}
.buttons button.cancel-btn{background-color:#8a8a8a;}
.delete{margin-top:50px;text-align:right;}
input.delete-btn{width:auto;padding:0 12px;line-height:25px;background-color:#c70909;}
button.delete-btn{width:auto;padding:0 12px;line-height:25px;background-color:#c70909;}
a.delete-btn{width:auto;padding:0 12px;line-height:25px;background-color:#c70909;}

section.main .option-form{max-width:300px;margin:0 auto;}
section.main .option-form .checkbox{font-size:14px;}
section.main .option-form .line{margin-top:8px;margin-bottom:8px;}
section.main .option-form .line:after{display:block;content:"";clear:both;}
section.main .option-form .line .field-title{font-size:14px;height:32px;line-height:28px;}
section.main .option-form .line .field{height:32px;line-height:28px;}
section.main .option-form .line .profile-field{width:105px;height:105px;}
section.main .option-form .line .profile-field .profile-image{width:105px;height:105px;border:1px solid #afafaf;-moz-border-radius:52px;-webkit-border-radius:52px;border-radius:52px;overflow:hidden;}
section.main .option-form .line .field input[type=text],section.main .option-form .line .field input[type=password],section.main .option-form .line .field select{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;min-width:170px;padding-left:10px;padding-right:10px;height:30px;line-height:26px;background:#fff;border:1px solid #588ec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:'WBS';font-size:14px;color:#1c4f7e;}
section.main .option-form .line .field input[type=email],section.main .option-form .line .field input[type=password],section.main .option-form .line .field select{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;min-width:170px;padding-left:10px;padding-right:10px;height:30px;line-height:26px;background:#fff;border:1px solid #588ec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:'WBS';font-size:14px;color:#1c4f7e;}
textarea{padding:8px;font-family:'WBS';font-size:14px;color:#1c4f7e;border:1px solid #588ec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}

section.search{}
section.search .search-line{width:92%;margin:5px auto;position:relative;}
section.search .search-line input{width:100%;height:30px;line-height:26px;padding-left:8px;padding-right:30px;border:1px solid #3a3a3c;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
section.search .search-line button{cursor:pointer;position:absolute;top:5px;right:7px;width:20px;height:20px;border:0px;background:url('../img/search-gray.png') 0 0 no-repeat;}
section.search .search-line #id_search{cursor:pointer;position:absolute;top:5px;right:7px;width:20px;height:20px;border:0px;background:url('../img/search-gray.png') 0 0 no-repeat;}
section.search .result{margin-top:20px;}
section.search .result .church-item:nth-child(odd){background-color:#d2dce5;}
section.search .result .church-item{position:relative;height:110px;padding:10px;}
section.search .result .church-item .church-rate-image{float:left;}
section.search .result .church-item .church-rate-image .church-image,section.search .result .church-item .church-rate-image .church-image img{width:82px;height:82px;}
section.search .result .church-item .church-rate-image .church-image{border:1px solid #245eba;-moz-border-radius:41px;-webkit-border-radius:41px;border-radius:41px;overflow:hidden;background-color:#fff;}
section.search .result .church-item .church-rate-image ul.church-rates{padding:0;margin:0;margin-left:-3px;margin-top:8px;}
section.search .result .church-item .church-rate-image ul.church-rates li.star{display:block;float:left;list-style:none;}
section.search .result .church-item .church-rate-image ul.church-rates li.star a{display:block;float:left;width:18px;height:18px;text-indent:-9999px;background:url('../img/star-gray.png') 0 0 no-repeat;}
section.search .result .church-item .church-rate-image ul.church-rates li.star a.rate-blue{background:url('../img/star-blue.png') 0 0 no-repeat;}
section.search .result .church-item .church-info{float:left;margin-top:-3px;margin-left:14px;}
section.search .result .church-item .church-info,section.search .result .church-item .church-info a{font-size:12px;color:#555;}
section.search .result .church-item .church-info .church-name{}
section.search .result .church-item .church-info .church-name a{font-size:14px;color:#2562c8;}
section.search .result .church-item .church-info .church-paster{padding-top:6px;}
section.search .result .church-item .church-info .church-address{padding-top:6px;}
section.search .result .church-item .church-nav{position:absolute;right:10px;top:10px;width:40px;}
section.search .result .church-item .church-nav button{cursor:pointer;width:32px;height:32px;border:0;margin-top:5px;}
section.search .result .church-item .church-nav button.add-fav-btn{background:url('../img/favorites-like-btn.png') 0 0 no-repeat;}
section.search .result .church-item .church-nav button.del-fav-btn{background:url('../img/favorites-btn.png') 0 0 no-repeat;}
section.search .result .church-item .church-nav button.new-req-btn{background:url('../img/newrequest-btn.png') 0 0 no-repeat;}
section.search .result .load-more{padding:15px 0px;text-align:center;}
section.search .result .load-more button{cursor:pointer;display:inline-block;line-height:22px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:0;padding:5px 10px;margin:0;font-size:14px;color:#fff;background-color:#2562c8;}

section.inbox{}
section.inbox .inbox-title{}
section.inbox .inbox-title:after{display:block;content:"";clear:both;}
section.inbox .inbox-title .title{float:left;height:30px;line-height:30px;margin-left:20px;font-size:18px;color:#2159a5;font-weight:bold;}
section.inbox .inbox-title .filter{float:right;height:30px;line-height:30px;margin-right:7px;}
section.inbox .inbox-title .back-button{float:right;height:30px;padding-right:10px;}
section.inbox .inbox-title .back-button button{cursor:pointer;display:inline-block;line-height:20px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:0;padding:3px 7px;margin:0;font-size:13px;color:#fff;background-color:#2562c8;}
section.inbox .inbox-container{padding:6px;}
section.inbox .inbox-container .inbox-item{position:relative;padding:6px 24px 6px 6px;margin-top:9px;background-color:#fff;border:1px solid #d5e5ff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:10px;}
section.inbox .inbox-container .inbox-detailed{padding:10px;}
section.inbox .inbox-container .inbox-item,section.inbox .inbox-container .inbox-item a{font-size:12px;}
section.inbox .inbox-container .inbox-item .status{position:absolute;top:-1px;right:20px;padding-left:10px;width:65px;height:18px;line-height:15px;background-color:#a29797;color:#fff;opacity:0.9;}
section.inbox .inbox-container .inbox-item .status-cancel{background-color:#c70909;}
section.inbox .inbox-container .inbox-item .status-confirmed{background-color:#1a741f;}
section.inbox .inbox-container .inbox-item .status-pending{background-color:#a29797;}
section.inbox .inbox-container .inbox-item .date{margin-top:2px;}
section.inbox .inbox-container .inbox-item .message{margin-top:4px;height:52px;overflow:hidden;}
section.inbox .inbox-container .inbox-detailed .message{height:auto;overflow:visible;}
section.inbox .inbox-container .inbox-item .message-to{font-weight:bold;}
section.inbox .inbox-container .inbox-item .more{display:block;position:absolute;right:6px;top:30px;cursor:pointer;width:12px;height:30px;background:url('../img/detailed.png') 0 0 no-repeat;text-indent:-9999px;}
section.inbox .inbox-container .inbox-item .less{background-position:0 -8px;}
section.inbox .inbox-container .load-more{padding:15px 0px;text-align:center;}
section.inbox .inbox-container .load-more button{cursor:pointer;display:inline-block;line-height:22px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:0;padding:5px 10px;margin:0;font-size:14px;color:#fff;background-color:#2562c8;}

section.paster-inbox{}
section.paster-inbox .inbox-container .inbox-detailed{padding-right:40px;}
section.paster-inbox .inbox-container .inbox-detailed .status{right:50px;}
section.paster-inbox .inbox-container .inbox-detailed .prayer-control{position:absolute;top:2px;right:8px;}
section.paster-inbox .inbox-container .inbox-detailed .prayer-control button{display:block;cursor:pointer;width:24px;height:24px;border:0;padding:0;margin:0;margin-top:6px;}
section.paster-inbox .inbox-container .inbox-detailed .prayer-control button.accept{background:url('../img/accept-btn.png') 0 0 no-repeat;}
section.paster-inbox .inbox-container .inbox-detailed .prayer-control button.reject{background:url('../img/reject-btn.png') 0 0 no-repeat;}
section.paster-inbox .inbox-container .inbox-detailed .prayer-control button.block{background:url('../img/block-btn.png') 0 0 no-repeat;}

section.blocked-list{}
section.blocked-list table{width:100%;}
section.blocked-list table tr.head{}
section.blocked-list table tr td{height:25px;line-height:22px;padding-left:10px;padding-right:10px;}
section.blocked-list table tr:nth-child(even){background-color:#d2dce5;}
section.blocked-list table button.remove{cursor:pointer;display:block;width:12px;height:12px;border:0;background:url('../img/remove-btn-16x16.png') center center no-repeat;}

.home footer{position:fixed;bottom:0;width:100%;background:#1c4f7e;opacity:0.9;z-index:99;}
.home footer nav.footer-nav{width:100%;}
.home footer nav.footer-nav ul{display:table;width:100%;padding:0px;margin:0px;}
.home footer nav.footer-nav ul li{width:45%;display:table-cell;height:40px;line-height:40px;}
.home footer nav.footer-nav ul li:first-child{text-align:left;padding-left:10px;}
.home footer nav.footer-nav ul li:last-child{text-align:right;padding-right:10px;}
.home footer nav.footer-nav ul li a{font-family:WB;font-size:16px;color:#fff;}

.inner footer{position:fixed;bottom:0;left:0;right:0;width:100%;border-top:1px solid #b1b1b1;background:#f8f8f8;z-index:99;}
.inner footer nav.footer-nav{width:100%;}
.inner footer nav.footer-nav ul{display:table;width:100%;padding:0px;margin:0px;}
.inner footer nav.footer-nav ul li{text-align:center;width:25%;display:table-cell;}
.inner footer nav.footer-nav ul li a{text-align:center;font-family:WB;font-size:14px;color:#3a3a3c;}
.inner footer nav.footer-nav ul li a i{display:block;margin:5px auto 0px;}
.inner footer nav.footer-nav ul li a i.newrequest{width:36px;height:28px;background:url('../img/f-newrequest-icon-gray.png') 0 0 no-repeat;}
.inner footer nav.footer-nav ul li a i.myprayerbox{width:36px;height:28px;background:url('../img/f-myprayerbox-icon-gray.png') 0 0 no-repeat;}
.inner footer nav.footer-nav ul li a i.favorites{width:30px;height:28px;background:url('../img/f-favorites-icon-gray.png') 0 0 no-repeat;}
.inner footer nav.footer-nav ul li a i.search{width:28px;height:28px;background:url('../img/f-search-icon-gray.png') 0 0 no-repeat;}
.inner footer nav.footer-nav ul li.selected{background:-webkit-linear-gradient(#2663cd,#1c4f7e);background:-o-linear-gradient(#2663cd,#1c4f7e);background:-moz-linear-gradient(#2663cd,#1c4f7e);background:linear-gradient(#2663cd,#1c4f7e);}
.inner footer nav.footer-nav ul li.selected a{color:#fff;}
.inner footer nav.footer-nav ul li.selected a i.newrequest{background-image:url('../img/f-newrequest-icon.png');}
.inner footer nav.footer-nav ul li.selected a i.myprayerbox{background-image:url('../img/f-myprayerbox-icon.png');}
.inner footer nav.footer-nav ul li.selected a i.favorites{background-image:url('../img/f-favorites-icon.png');}
.inner footer nav.footer-nav ul li.selected a i.search{background-image:url('../img/f-search-icon.png');}
