#container {
    width: 100px;
    height: 100px;
    position: relative;
}

#title, 
#text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#text {
    z-index: 10;
}