{% load staticfiles %}
{% load myfilter %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.lightbox-0.5.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.lightbox-0.5.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<!--[if lt IE 9]> 
	<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
	<![endif]-->
	</head>
<body class="inner churchinfo">
	<div class="wrapper">
		<div class="menu-container">
			<div class="head">
				<button type="button" class="close"></button>
                {% if request.user|isuser_pastor %}
				    <a href="{{ request.user.mpbuser.get_image }}" class="profile-image"><img src="{{ request.user.mpbuser.get_image}}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.mpbuser.first_name }} {{ request.user.mpbuser.last_name }}</div>
			    {% else %}
    				<a href="{{ request.user.pastor.get_image }}" class="profile-image"><img src="{{ request.user.pastor.get_image }}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.pastor.first_name }} {{ request.user.pastor.last_name }}!</div>
                {% endif %}
			</div>
			<nav class="main-menu">
				<ul>
                    {% if request.user|isuser_pastor %}
					<li><a class="newrequest" href="{% url 'new_message' %}">New request</a></li>
					<li><a class="myprayerbox" href="{% url 'messages' %}">Prayers</a></li>
					<li><a class="myprofile" href="{% url 'update_profile' %}">My profile</a></li>
					<li><a class="favorites" href="{% url 'likes' %}">Favorites</a></li>
					<li  class="selected"><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="selected"><a class="myprayerbox" href="{% url 'pastor_inbox' %}">Inbox</a></li>
					<li><a class="blocked-list" href="./pastor-blockedlist.html">Blocked list</a></li>
					<li><a class="myprofile" href="{% url 'pastor_profile' %}">My profile</a></li>
					<li><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
				<ul>
			</nav>
		</div>
		<header>
			<nav class="head-nav">
				<ul>
					<li class="menu"><a href="javascript:void(0);"><img src="{% static 'img/menu-icon.png' %}" alt="" /></a></li>
					<li class="logo"><img src="{% static 'img/logo-small.png' %}" alt="" /></a></li>
					<li class="logout"><a href="{% url 'churchs' %}"><img src="{% static 'img/back-icon.png' %}" alt="" /></a></li>
				</ul>
			</nav>
		</header>
		<section class="main simple">
			<div class="title">{{ church.name }} {% if church.churchaddress.city %}({{ church.churchaddress.city }}) {% endif %}</div>
			<div class="content">
			
				<div class="church-image">
					<a href="{{ church.get_image }}" class="view"><img src="{{ church.get_image }}" height="150" width="150"></a>
					<div class="rating"><strong>Rating:</strong> {{church|rate}}/5</div>
                    <div class="rating"><strong>This is the favourite church of  {{church|church_like_count}} users .</strong> </div>
				</div>
				<br /><h3>Information</h3>
				{{ church.description }}
				<br />
				<br />

			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
                    {% if request.user|isuser_pastor %}
					<li><a href="{% url 'new_message' %}"><i class="newrequest"></i>New request</a></li>
					<li><a href="{% url 'messages' %}"><i class="myprayerbox"></i>Prayers</a></li>
					<li><a href="{% url 'likes' %}"><i class="favorites"></i>Favorites</a></li>
					<li class="selected"><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
                    {% else %}
                    <li><a href="{% url 'pastor_inbox' %}"><i class="myprayerbox"></i>Inbox</a></li>
					<li class="selected"><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
                    {% endif %}
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>
