{% load staticfiles %}
{% load myfilter %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<!--[if lt IE 9]> 
	<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
	<![endif]-->
	</head>
<body class="inner">
	<div class="wrapper">
		<div class="menu-container">
			<div class="head">
				<button type="button" class="close"></button>
				<a href="{{ request.user.mpbuser.get_image }}" class="profile-image"><img src="{{ request.user.mpbuser.get_image }}" height="130" width="130"></a>
				<div class="welcome-msg">Welcome,<br /> {{ request.user.mpbuser.first_name }} {{ request.user.mpbuser.last_name }}!</div>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a class="newrequest" href="{% url 'new_message' %}">New request</a></li>
					<li><a class="myprayerbox" href="{% url 'messages' %}">Prayers</a></li>
					<li><a class="myprofile" href="{% url 'update_profile' %}">My profile</a></li>
					<li class="selected"><a class="favorites" href="{% url 'likes' %}">Favorites</a></li>
					<li><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
				<ul>
			</nav>
		</div>
		<header>
			<nav class="head-nav">
				<ul>
					<li class="menu"><a href="javascript:void(0);"><img src="{% static 'img/menu-icon.png' %}" alt="" /></a></li>
					<li class="logo"><img src="{% static 'img/logo-small.png' %}" alt="" /></a></li>
					<li class="logout">&nbsp;</li>
				</ul>
			</nav>
		</header>
		<section class="main search">
			<div class="common-title favorites">Favorites</div>
			<div class="result">
                {% for church in likechurchs %}
				<div class="church-item">
					<div class="church-rate-image">
						<div class="church-image">
							<a href="{% url 'church' church.church.id %}"><img src="{{ church.church.get_image }}" height="160" width="160"></a>
						</div>
						<ul class="church-rates">
							<li class="star"><a href="javascript:void(0);" class="rate-blue" title="+1">+1</a></li>
							<li class="star"><a href="javascript:void(0);" class="rate-blue" title="+2">+2</a></li>
							<li class="star"><a href="javascript:void(0);" class="rate-blue" title="+3">+3</a></li>
							<li class="star"><a href="javascript:void(0);" title="+4">+4</a></li>
							<li class="star"><a href="javascript:void(0);" title="+5">+5</a></li>
						</ul>
					</div>
					<div class="church-info">
						<div class="church-name"><a href="{% url 'church' church.church.id %}">{{ church.church.name }}</a></div>
						<!--<div class="church-paster"><a href="./churchinfo.html">Paster Michael</a></div>-->
						<div class="church-address"><a href="{% url 'church' church.church.id %}">{{ church.church.churchaddress.street }}<br />{{ church.church.churchaddress.city }},
                                                                                {{ church.church.churchaddress.state }}, {{ church.church.churchaddress.country }}<br />{{ church.church.tel }}</a></div>
					</div>
					<div class="church-nav">
                        {% if request.user|isuser_pastor %}
                            {% if not church.church|like_count_user:request.user %}
                                <a href="/myprayerbox/like/{{church.church.id}}"><button type="button" class="add-fav-btn"></button></a>
                            {% else %}
                                <a href="/myprayerbox/unlike/{{church.church.id}}"><button type="button" class="del-fav-btn"></button></a>
                            {% endif %}
                        {% endif %}
					</div>
				</div>
                {% endfor %}
			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
					<li><a href="{% url 'new_message' %}"><i class="newrequest"></i>New request</a></li>
					<li><a href="{% url 'messages' %}"><i class="myprayerbox"></i>Prayers</a></li>
					<li class="selected"><a href="{% url 'likes' %}"><i class="favorites"></i>Favorites</a></li>
					<li><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>