{% load staticfiles %}
<!DOCTYPE html>

<html>
{% load myfilter %}
<head lang="en">

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <title></title>
</head>
<body>
<center>
    <a href="{% url 'messages' %}">Inbox</a>
</center>

{% if request.user.is_authenticated %}
    <img src="{{ request.user.mpbuser.get_image }}" height="150" width="150">
    <a href="{% url 'update_profile' %}"> {{mpb}}</a>
    <a href="?logout=logout" style="color:blue">logout</a>
    <a href="{% url 'new_message' %}" style="color:red"> New messeage </a><br><br>
    Rating church<br>
    {%for i in mpb.favoritechurch_set.all %}
        {% if i.church %}
            {{i.church}} point {{i.church|rate}}<br>
        {% endif %}
    {% endfor %}
    <br>
    Favorite church<br>
    {%for i in mpb.likechurch_set.all %}
        {% if i.church %}
            {{i.church}} <br>
        {% endif %}
    {% endfor %}


<center>
    <div class="wrap">
        <form method="get">
        <div class="search">
        <input type="text" class="searchTerm" placeholder="Search church" name="key_word">
        <input type="submit" class="searchButton">
        </div>
            {{search_form.key_word.errors}}

        </form>
        {% if churchs %}
            <table border="1">
                <tr><th>Church name</th><th>Church type</th></tr>
                {% for c in churchs %}
                <tr>
                    <td><a href="{% url 'church' c.id %}">{{ c.name }}</a></td>
                    <td>{{c.church_type}}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</center>

{% endif %}



</body>
</html>