{% load staticfiles %}
<!DOCTYPE html>
<html>
{% load myfilter %}
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inbox.css' %}">
    <title></title>
</head>

<body >

<header>
  <h1>messages</h1>
</header>
<div class="mailbox">
  <div class="messages">
            <div class="filter">
                <select id="filter">
				   <option value="">all</option>
				   <option value="pending">pending</option>
				   <option value="confirmed">confirmed</option>
				   <option value="cancel">cancel</option>
				</select>

                 {% for req_text in req_texts %}
                    <div class="message">
                         <span class="sender"><a href="/myprayerbox/message/{{req_text.id}}">{{req_text.text|truncatechars:9}}</a></span>
                         <span class="date">{{req_text.date}}</span>
                         <span class="title">{{req_text|req_status}}</span>
                         <span class="req"><a href="/myprayerbox/church/{{req_text|church}}/">{{req_text|confirm_church}}</a></span>
                    </div>
                {% endfor %}

                <div class="inbox-container">

                </div>

                <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
                <script src="{% static 'js/ajax_csrf.js' %}"></script>
                <script src="{% static 'js/inbox.js' %}"></script>

            </div>
  </div>
</div>

</body>
</html>