{% load staticfiles %}
{% load myfilter %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>

	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/ajax_csrf.js' %}"></script>
        <script src="{% static 'js/inbox.js' %}"></script>

	<!--[if lt IE 9]>
	<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
	<![endif]-->
	</head>
<body class="inner inbox">
	<div class="wrapper">
		<div class="menu-container">
			<div class="head">
				<button type="button" class="close"></button>
				    <a href="{{ request.user.mpbuser.get_image }}" class="profile-image"><img src="{{ request.user.mpbuser.get_image}}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.mpbuser.first_name }} {{ request.user.mpbuser.last_name }}!</div>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a class="newrequest" href="{% url 'new_message' %}">New request</a></li>
					<li class="selected"><a class="myprayerbox" href="{% url 'messages' %}">Prayers</a></li>
					<li><a class="myprofile" href="{% url 'update_profile' %}">My profile</a></li>
					<li><a class="favorites" href="{% url 'likes' %}">Favorites</a></li>
					<li><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
				<ul>
			</nav>
		</div>
		<header>
			<nav class="head-nav">
				<ul>
					<li class="menu"><a href="javascript:void(0);"><img src="{% static 'img/menu-icon.png' %}" alt="" /></a></li>
					<li class="logo"><img src="{% static 'img/logo-small.png' %}" alt="" /></a></li>
					<li class="logout">&nbsp;</li>
				</ul>
			</nav>
		</header>
		<section class="inbox">
			<div class="inbox-title">
				<div class="title">Prayers</div>
				<div class="filter">
					<select id="filter_m" name="filter">
						<option value="">all</option>
						<option value="confirmed">accepted</option>
						<option value="cancel">canceled</option>
						<option value="pending">pending</option>
						<option value="pending">timeout</option>
					</select>
				</div>
			</div>
			<div class="notification">
				<div class="n-message info"><span>{{ request.user|confirmed_count_mpbuser }}</span> You have new {{ request.user|confirmed_count_mpbuser }} accepted prayers</div>
			</div>
			<div class="inbox-container">
                <!--{% for req_text in req_texts %}-->
				<!--<div class="inbox-item">-->
					<!--<div class="status status-canceled">{{req_text|req_status}}</div>-->
					<!--<div class="date">{{req_text.date}}</div>-->
					<!--<div class="message">-->
						<!--<a href="./myprayerbox_item.html"><span class="message-to">[{{req_text.title}}]:</span>{{req_text.text|truncatechars:50}}</a>-->
					<!--</div>-->
					<!--<a class="more" href="./myprayerbox_item.html">View</a>-->
				<!--</div>-->
				<!--<div class="load-more">-->
					<!--<button type="button">Load more...</button>-->
				<!--</div>-->
                <!--{% endfor %}-->
			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
					<li><a href="{% url 'new_message' %}"><i class="newrequest"></i>New request</a></li>
					<li class="selected"><a href="{% url 'messages' %}"><i class="myprayerbox"></i>Prayers</a></li>
					<li><a href="{% url 'likes' %}"><i class="favorites"></i>Favorites</a></li>
					<li><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>