{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

	<!--[if lt IE 9]>
	<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
	<![endif]-->
	</head>
<body class="inner">
	<div class="wrapper">
		<div class="menu-container">
			<div class="head">
				<button type="button" class="close"></button>
    				<a href="{{ request.user.pastor.get_image }}" class="profile-image"><img src="{{ request.user.pastor.get_image }}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.pastor.first_name }} {{ request.user.pastor.last_name }}!</div>
			</div>
			<nav class="main-menu">
				<ul>
                    <li><a class="myprayerbox" href="{% url 'pastor_inbox' %}">Inbox</a></li>
					<li><a class="blocked-list" href="{% url 'blacklists' %}">Blocked list</a></li>
					<li class="selected"><a class="myprofile" href="{% url 'pastor_profile' %}">My profile</a></li>
					<li><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
				<ul>
			</nav>
		</div>
		<header>
			<nav class="head-nav">
				<ul>
					<li class="menu"><a href="javascript:void(0);"><img src="{% static 'img/menu-icon.png' %}" alt="" /></a></li>
					<li class="logo"><img src="{% static 'img/logo-small.png' %}" alt="" /></a></li>
					<li class="logout">&nbsp;</li>
				</ul>
			</nav>
		</header>
		<section class="main simple">
			<div class="common-title myprofile">My profile</div>
			<div class="content">
				<form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
				<input type="hidden" name="mode" value="send" />
				<div class="option-form">
					<div class="line">
						<div class="field-title">Email</div>
						<div class="field"><input type="text" name="email" value="{{pastor.email}}" readonly="true" /></div>
					</div>
					<div class="line">
						<div class="field-title">Name</div>
						<div class="field"><input type="text" name="name" value="{{pastor.first_name}}" readonly="true"/></div>
					</div>
					<div class="line">
						<div class="field-title">Surname</div>
						<div class="field"><input type="text" name="surname" value="{{pastor.last_name}}" readonly="true"/></div>
					</div>
					<div class="line">
						<div class="field-title profile-field">
							<div class="profile-image">{{ pastor_form.image }}</div>
						</div>
					</div>
                    <div class="checkbox">{{pastor_form.notification}}<label for="notify_box">Allow email notification</label></div>
					<div class="buttons">
                        <input type="submit" value="Save" class="send-btn">
						<!--<button type="button" class="send-btn">Save</button>-->
						<button type="button" class="cancel-btn"><a href="{% url 'pastor_inbox' %}">Cancel</a></button>
					</div>
				</div>
				</form>
			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
                    <li><a href="{% url 'pastor_inbox' %}"><i class="myprayerbox"></i>Inbox</a></li>
					<li><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>