{% load staticfiles %}
{% load myfilter %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/ajax_csrf.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	<!--[if lt IE 9]> 
	<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
	<![endif]-->
	</head>
<body class="inner inbox">
	<div class="wrapper">
		<div class="menu-container">
			<div class="head">
				<button type="button" class="close"></button>
				<a href="{{ request.user.pastor.get_image }}" class="profile-image"><img src="{{ request.user.pastor.get_image }}" height="130" width="130"></a>
				<div class="welcome-msg">Welcome,<br /> {{ request.user.pastor.first_name }} {{ request.user.pastor.last_name }}!</div>
			</div>
			<nav class="main-menu">
				<ul>
					<li class="selected"><a class="myprayerbox" href="{% url 'pastor_inbox' %}">Inbox</a></li>
					<li><a class="blocked-list" href="{% url 'blacklists' %}">Blocked list</a></li>
					<li><a class="myprofile" href="{% url 'pastor_profile' %}">My profile</a></li>
					<li><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
				<ul>
			</nav>
		</div>
		<header>
			<nav class="head-nav">
				<ul>
					<li class="menu"><a href="javascript:void(0);"><img src="{% static 'img/menu-icon.png' %}" alt="" /></a></li>
					<li class="logo"><img src="{% static 'img/logo-small.png' %}" alt="" /></a></li>
					<li class="logout"><a href="{% url 'pastor_inbox' %}"><img src="{% static 'img/back-icon.png' %}" alt="" /></a></li>
				</ul>
			</nav>
		</header>
		<section class="inbox paster-inbox">
			<div class="inbox-title">
				<div class="title">Inbox</div>
			</div>
			<div class="inbox-container">
				<div class="inbox-item inbox-detailed">
					<!--<div class="status status-canceled">Cancelled</div>-->
					<div class="date">{{msg.request.date}}</div>
					<div class="message">
						<span class="message-to">[{{msg.request.title}}]:</span> {{msg.request.text}}
					</div>
                    <div class="prayer-control" id="message_form" rel="{{ msg.id }}">
                        {% if msg.status != 'confirmed' and msg.status != 'cancel' %}
                            {% if not msg|isconfirmed %}
                                    <button  class="accept" id="confirm">Confirm</button>
                            {% else %}
                                    Mesaj basqa kilse terefinden tesdiqlenib gecikdiz
                            {% endif %}
                                    <button id="cancel"  class="reject">Cancel</button>
                        {% endif %}
                            {% if msg.status == 'confirmed' %}
                                <div class="status status-confirmed">{{msg.status}}</div>
                            {% elif msg.status == 'cancel' %}
                                <div class="status status-cancel">{{msg.status}}</div>
                            {% else %}
                                <div class="status status-pending">{{msg.status}}</div>
                            {% endif %}

						<!--<button type="button" class="accept"></button>-->
						<!--<button type="button" class="reject"></button>-->
                        {% if not msg.request.user.id|isblacklist %}
						<a href="/myprayerbox/blacklist/{{ msg.request.user.id }}/"><button type="button" class="block"></button></a>
					    {% endif %}
                    </div>
				</div>
			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
					<li class="selected"><a href="{% url 'pastor_inbox' %}"><i class="myprayerbox"></i>Inbox</a></li>
					<li><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>
