{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<!--[if lt IE 9]> 
	<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
	<![endif]-->
	</head>
<body class="home">
	<section class="slider-wrapper">
		<ul class="slider">
			<li class="slider-item">
				<img src="{% static 'img/bg-01.jpg' %}" width="1920" height="1080" alt="" title="" draggable="false" />
			</li>
			<li class="slider-item">
				<img src="{% static 'img/bg-02.jpg' %}" width="1920" height="1440" alt="" title="" draggable="false" />
			</li>
			<li class="slider-item">
				<img src="{% static 'img/bg-03.jpg' %}" width="1920" height="1479" alt="" title="" draggable="false" />
			</li>
		</ul>
	</section>
	<div class="wrapper">
		<header>
			<nav class="head-nav">
				<ul>
					<li class="help"><a href="{% url 'help_index' %}">Help</a></li>
					<li class="privacy"><a href="{% url 'privacy_index' %}">Privacy</a></li>
					<li class="terms"><a href="{% url 'terms_index' %}">Terms</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<div class="logo"></div>
			<div class="signform">

				<div class="field"><a href="{% url 'home' %}"><button class="username">Sign in</button></a></div>

			</div>

		</section>
		<footer>
		</footer>
	</div>
</body>
</html>