{% load staticfiles %}
{% load myfilter %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script src="{% static 'js/ajax_csrf.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript">

    </script>
	<!--[if lt IE 9]> 
	<script type="text/javascript" src="{% static 'js/html5shiv.js"></script>
	<![endif]-->
	</head>
<body class="inner">

	<div class="wrapper">
		<div class="menu-container">
			<div class="head">
				<button type="button" class="close"></button>
                {% if request.user|isuser_pastor %}
				    <a href="{{ request.user.mpbuser.get_image }}" class="profile-image"><img src="{{ request.user.mpbuser.get_image}}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.mpbuser.first_name }} {{ request.user.mpbuser.last_name }}!</div>
			    {% else %}
    				<a href="{{ request.user.pastor.get_image }}" class="profile-image"><img src="{{ request.user.pastor.get_image }}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.pastor.first_name }} {{ request.user.pastor.last_name }}!</div>
                {% endif %}
			</div>
			<nav class="main-menu">
				<ul>
                    {% if request.user|isuser_pastor %}
					<li><a class="newrequest" href="{% url 'new_message' %}">New request</a></li>
					<li><a class="myprayerbox" href="{% url 'messages' %}">Prayers</a></li>
					<li><a class="myprofile" href="{% url 'update_profile' %}">My profile</a></li>
					<li><a class="favorites" href="{% url 'likes' %}">Favorites</a></li>
					<li  class="selected"><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li ><a class="myprayerbox" href="{% url 'pastor_inbox' %}">Inbox</a></li>
					<li><a class="blocked-list" href="{% url 'blacklists' %}">Blocked list</a></li>
					<li><a class="myprofile" href="{% url 'pastor_profile' %}">My profile</a></li>
					<li class="selected"><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
				<ul>
			</nav>
		</div>
		<header>
			<nav class="head-nav">
				<ul>
					<li class="menu"><a href="javascript:void(0);"><img src="{% static 'img/menu-icon.png' %}" alt="" /></a></li>
					<li class="logo"><img src="{% static 'img/logo-small.png' %}" alt="" /></a></li>
					<li class="logout">&nbsp;</li>
				</ul>
			</nav>
		</header>
		<section class="main search">
			<div class="search-line">
                <form method="post">
                {% csrf_token %}
				<input type="text" name="search" value="" />
                <input type="submit" id="id_search" value="">
				<!--<button type="button"></button>-->
                    {% if state %}
                    <font color="red" style="font-weight:bold">
                        {{state}}
                    </font>
                    {% endif %}

                </form>
			</div>
			<div class="result" rel="0">
                {% for church in churchs %}
				<div class="church-item">
					<div class="church-rate-image">
						<div class="church-image">
							<a href="{% url 'church' church.id %}"><img src="{{ church.get_image }}" height="160" width="160"></a>
						</div>
                        {% if request.user|isuser_pastor %}
						<ul class="church-rates" rel="{{church.id}}">
							<li class="star" rel="1"><a title="+1">+1</a></li>
							<li class="star" rel="2"><a title="+2">+2</a></li>
							<li class="star" rel="3"><a title="+3">+3</a></li>
							<li class="star" rel="4"><a>+4</a></li>
							<li class="star" rel="5"><a title="+5">+5</a></li>
						</ul>
                        {% endif %}
					</div>
                    <div id="user" rel="{{request.user.mpbuser.id}}"></div>
					<div class="church-info">
						<div class="church-name"><a href="{% url 'church' church.id %}">{{ church.name }}</a></div>
						<!--<div class="church-paster"><a href="./churchinfo.html">Paster Michael</a></div>-->
						<div class="church-address">{{ church.churchaddress.street }}<br />
                                                                            {% if church.churchaddress.city %} 
                                                                            {{ church.churchaddress.city }},
                                                                            {% endif %}
                                                                            {% if church.churchaddress.state %}    
                                                                            {{ church.churchaddress.state }},
                                                                            {% endif %} 
                                                                            {{ church.churchaddress.country }}<br />{{ church.tel }}</div>
					</div>
					<div class="church-nav">
                    {% if request.user|isuser_pastor %}
                        {% if not church|like_count_user:request.user %}
                            <a href="/myprayerbox/like/{{church.id}}"><button type="button" class="add-fav-btn"></button></a>
                        {% else %}
                            <a href="/myprayerbox/unlike/{{church.id}}"><button type="button" class="del-fav-btn"></button></a>
                        {% endif %}
                    {% endif %}
						<button type="button" class="new-req-btn"></button>
					</div>
				</div>
                {% endfor %}
				<div class="load-more">
					<!--<button id="load" type="button">Load more...</button>-->

                </div>
			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
                    {% if request.user|isuser_pastor %}
					<li><a href="{% url 'new_message' %}"><i class="newrequest"></i>New request</a></li>
					<li><a href="{% url 'messages' %}"><i class="myprayerbox"></i>Prayers</a></li>
					<li><a href="{% url 'likes' %}"><i class="favorites"></i>Favorites</a></li>
					<li  class="selected"><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
                    {% else %}
                    <li ><a href="{% url 'pastor_inbox' %}"><i class="myprayerbox"></i>Inbox</a></li>
					<li class="selected"><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
                    {% endif %}
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>
