{% load staticfiles %}
{% load myfilter %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<!--[if lt IE 9]> 
	<script type="text/javascript" src="js/html5shiv.js"></script>
	<![endif]-->
	</head>
<body class="inner">
	<div class="wrapper">
		<div class="menu-container">
			<div class="head">
				<button type="button" class="close"></button>
                {% if request.user|isuser_pastor %}
				    <a href="{{ request.user.mpbuser.get_image }}" class="profile-image"><img src="{{ request.user.mpbuser.get_image}}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.mpbuser.first_name }} {{ request.user.mpbuser.last_name }}!</div>
			    {% else %}
    				<a href="{{ request.user.pastor.get_image }}" class="profile-image"><img src="{{ request.user.pastor.get_image }}" height="130" width="130"></a>
				    <div class="welcome-msg">Welcome,<br /> {{ request.user.pastor.first_name }} {{ request.user.pastor.last_name }}!</div>
                {% endif %}
            </div>
			<nav class="main-menu">
				<ul>
                    {% if request.user|isuser_pastor %}
					<li><a class="newrequest" href="{% url 'new_message' %}">New request</a></li>
					<li><a class="myprayerbox" href="{% url 'messages' %}">Prayers</a></li>
					<li><a class="myprofile" href="{% url 'update_profile' %}">My profile</a></li>
					<li><a class="favorites" href="{% url 'likes' %}">Favorites</a></li>
					<li><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li class="selected"><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li ><a class="myprayerbox" href="{% url 'pastor_inbox' %}">Inbox</a></li>
					<li><a class="blocked-list" href="./paster-blockedlist.html">Blocked list</a></li>
					<li><a class="myprofile" href="{% url 'pastor_profile' %}">My profile</a></li>
					<li><a class="search" href="{% url 'churchs' %}">Search churches</a></li>
					<li><a class="help" href="{% url 'help' %}">Help</a></li>
					<li><a class="privacy" href="{% url 'privacy' %}">Privacy</a></li>
					<li><a class="terms" href="{% url 'terms' %}">Terms</a></li>
					<li class="selected"><a class="settings" href="{% url 'change_name' %}">Settings</a></li>
					<li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
				<ul>
			</nav>
		</div>
		<header>
			<nav class="head-nav">
				<ul>
					<li class="menu"><a href="javascript:void(0);"><img src="{% static 'img/menu-icon.png' %}" alt="" /></a></li>
					<li class="logo"><img src="{% static 'img/logo-small.png' %}" alt="" /></a></li>
                    {% if request.user|isuser_pastor %}
					<li class="logout"><a href="{% url 'home' %}"><img src="{% static 'img/back-icon.png' %}" alt="" /></a></li>
				    {% else %}
                    <li class="logout"><a href="{% url 'pastor_inbox' %}"><img src="{% static 'img/back-icon.png' %}" alt="" /></a></li>
                    {% endif %}
                </ul>
			</nav>
		</header>
		<section class="main simple">
			<div class="common-title settings">Settings</div>
			<div class="content">
				<form method="POST">
                {% csrf_token %}
				<input type="hidden" name="mode" value="send" />
				<div class="option-form">
					<!--<div class="checkbox"><input type="checkbox" name="notify" value="true" id="notify_box" /> <label for="notify_box">Allow email notification</label></div>-->
					<div class="line">
						<div class="field-title">New password</div>
						<div class="field"><input type="password" name="password1" value="" /></div>
					</div>
					<div class="line">
						<div class="field-title">New password (retry)</div>
						<div class="field"><input type="password" name="password2" value="" /></div>
					</div>
                    {% if state %}
                    <font color="red" style="font-weight:bold">{{state}}</font>
                    {% endif %}
					<div class="buttons">
						<input class="send-btn" type="submit" name="change_password" value="Save" />
                        {% if request.user|isuser_pastor %}
						<button type="button" class="cancel-btn"><a href="{% url 'messages' %}">Cancel</a></button>
                        {% else %}
                        <button type="button" class="cancel-btn"><a href="{% url 'pastor_inbox' %}">Cancel</a></button>
                        {% endif %}
					</div>
                    {% if request.user|isuser_pastor %}
					<div class="delete">
						<button type="button" class="delete-btn"><a href="{% url 'drop_account' %}" style="color:white">Delete Account</a></button>
					</div>
                    {% endif %}
				</div>
				</form>

			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
                    {% if request.user|isuser_pastor %}
					<li><a href="{% url 'new_message' %}"><i class="newrequest"></i>New request</a></li>
					<li><a href="{% url 'messages' %}"><i class="myprayerbox"></i>Prayers</a></li>
					<li><a href="{% url 'likes' %}"><i class="favorites"></i>Favorites</a></li>
					<li><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
                    {% else %}
                    <li><a href="{% url 'pastor_inbox' %}"><i class="myprayerbox"></i>Inbox</a></li>
					<li><a href="{% url 'churchs' %}"><i class="search"></i>Church</a></li>
                    {% endif %}
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>