{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8">
	<title>My Prayer Box</title>
	<!-- keywords -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}"/>
	<link rel="icon" sizes="192x192" href="{% static 'img/android-touch-icon-192x192.png' %}"/>
	<!-- css/js -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<!--[if lt IE 9]> 
	<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
	<![endif]-->
	</head>
<body class="home">
	<section class="slider-wrapper">
		<ul class="slider">
			<li class="slider-item">
				<img src="{% static 'img/bg-01.jpg' %}" width="1920" height="1080" alt="" title="" draggable="false" />
			</li>
			<li class="slider-item">
				<img src="{% static 'img/bg-02.jpg' %}" width="1920" height="1440" alt="" title="" draggable="false" />
			</li>
			<li class="slider-item">
				<img src="{% static 'img/bg-03.jpg' %}" width="1920" height="1479" alt="" title="" draggable="false" />
			</li>
		</ul>
	</section>
	<div class="wrapper">
		<header>
			<nav class="head-nav">
				<ul>
					<li class="help"><a href="{% url 'help_index' %}">Help</a></li>
					<li class="privacy"><a href="{% url 'privacy_index' %}">Privacy</a></li>
					<li class="terms"><a href="{% url 'terms_index' %}">Terms</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<div class="logo"></div>
			<div class="signform">
				<form method="POST">
                    {% csrf_token %}
					<input type="hidden" name="mode" value="signup" />
					<div class="field"><input type="text" name="name" placeholder="First Name" class="form"/>
                        {% for err in register_form.name.errors %}
                        <font color="red" style="font-weight:bold">
                            {{ err }}
                        </font>
                        {% endfor %}
                    </div>
					<div class="field"><input type="text" name="surname" placeholder="Last Name" class="form"/>
                        {% for err in register_form.surname.errors %}
                        <font color="red" style="font-weight:bold">
                            {{ err }}
                        </font>
                        {% endfor %}
                    </div>
					<div class="field"><input type="text" name="email"  placeholder="Email address" class="form"/>
                        {% for err in register_form.email.errors %}
                        <font color="red" style="font-weight:bold">
                            {{ err }}
                        </font>
                        {% endfor %}
                    </div>
					<div class="field"><input type="password" name="password" placeholder="***********" class="form"/>
                        {% for err in register_form.password.errors %}
                        <font color="red" style="font-weight:bold">
                            {{ err }}
                        </font>
                        {% endfor %}
                    </div>
					<div class="field"><input type="password" name="password2" placeholder="***********" class="form"/>
                        {% for err in register_form.password2.errors %}
                        <font color="red" style="font-weight:bold">
                            {{ err }}
                        </font>
                        {% endfor %}
                    </div>
					<div class="field"><input type="submit" value="Signup" class="username"></div>
				</form>
			</div>
			<div class="terms_window">
				<div class="terms_title">Terms</div>
				<div class="terms_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis sapien tincidunt, finibus lacus in, venenatis nunc. Aliquam facilisis commodo dolor sit amet viverra. Aliquam scelerisque lacinia quam sit amet accumsan. Aenean bibendum fringilla diam eget aliquam. Donec quam sapien, faucibus sed diam vel, bibendum scelerisque velit. Maecenas nec nisl sem. Cras pharetra, urna vel viverra ullamcorper, dolor tellus tincidunt metus, eu malesuada justo orci ac augue.
					<br />
					<br />Quisque aliquam velit eget ipsum lacinia, eu scelerisque ligula euismod. Mauris fermentum dui eu ex laoreet efficitur. Suspendisse neque metus, ornare at velit at, ullamcorper molestie risus. Nulla nec tincidunt orci. Duis eget odio in erat fringilla finibus eget a est. Sed vitae maximus orci. Vivamus commodo odio sagittis pulvinar iaculis. Curabitur consectetur molestie eros, non consectetur tellus lacinia ut. Nam molestie bibendum hendrerit. Proin porta diam nunc. Sed id imperdiet lorem, ut blandit diam. Etiam dictum tellus quis justo mattis consequat sit amet id mi. Pellentesque felis ex, tristique laoreet justo eget, ornare finibus odio. Vestibulum vitae egestas elit.
					<br />
					<br />Nunc congue lorem sit amet erat efficitur, et ultricies est venenatis. Pellentesque ac placerat lorem, pharetra pharetra nulla. Ut elementum dignissim arcu a interdum. Etiam sollicitudin ut neque vitae posuere. Mauris eget tellus gravida, sodales enim id, suscipit ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas id eleifend ligula.
					<br />
					<br />Nulla ultricies, leo eget mollis molestie, dui ante lobortis nibh, ac condimentum lorem nibh sit amet lorem. Quisque sed sollicitudin sapien, vel finibus elit. Aenean a augue maximus, auctor massa vel, fringilla mauris. Aliquam id aliquet orci. Donec et semper nulla. Morbi porta porta mauris, sit amet dictum justo commodo id. Nam aliquam vel neque sed sodales. Cras eu quam eu lectus aliquam ultrices in id tellus. Ut rutrum erat et sapien viverra aliquam. Maecenas varius odio vitae malesuada viverra. Sed sed augue eu orci pulvinar feugiat ac vel velit. Nam ac mattis risus. Suspendisse porta, eros vitae euismod faucibus, purus enim pharetra nunc, id auctor elit sapien nec sapien.
					<br />
					<br />Quisque non urna sed nunc porttitor tincidunt. Integer sapien ex, condimentum vel volutpat ac, laoreet sit amet est. Ut eget venenatis nibh. Vestibulum molestie neque nec metus euismod, quis euismod tortor pellentesque. Curabitur pellentesque in dolor in molestie. Ut convallis risus felis, quis tempus metus dapibus non. Vivamus ut congue orci. Vivamus dolor ligula, feugiat vitae volutpat non, vulputate vitae odio.
				</div>
				<div class="terms_buttons">
					<button type="button" class="accept">Accept</button>
					<button type="button" class="decline">Decline</button>
				</div>
			</div>
		</section>
		<footer>
			<nav class="footer-nav">
				<ul>
					<li><a href="{% url 'login' %}">Sign in</a></li>
					<li><a href="{% url 'reset_password_reset1' %}">Forgot password?</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>
